.productContainer {
	border-radius: 15px;
	padding: 15px;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-items: stretch;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bookImage {
	border-radius: 15px;
}

.title {
	font-size: 18px;
}

.price {
	font-size: 14px;
}

.btn {
	padding: 10px;
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 15px;
	border: none;
}

.btn:hover {
	cursor: pointer;
	background-color: white;
	color: black;
	border: 1px solid black;
}
